<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055905651755-hdduej43596uulv584pkrs1ut6edt5h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055905651755-hdduej43596uulv584pkrs1ut6edt5h8</string>
	<key>API_KEY</key>
	<string>AIzaSyBTBQp6Z6-E9ctDtjslYbj7CctJfYWY90s</string>
	<key>GCM_SENDER_ID</key>
	<string>1055905651755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ParentDemo</string>
	<key>PROJECT_ID</key>
	<string>childdemo-4eaea</string>
	<key>STORAGE_BUCKET</key>
	<string>childdemo-4eaea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055905651755:ios:82ebe7de539b5e0642de6e</string>
	<key>DATABASE_URL</key>
	<string>https://childdemo-4eaea.firebaseio.com</string>
</dict>
</plist>